<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ATCPage.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ callsign }} - ATC Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='PF.png') }}">
    <style>
        /* Add CSS styles for different colors */
        .pilot-on-frequency {
            color: blue;
        }

        .pilot-on-other-frequency {
            color: green;
        }

        .squawk-alert {
            color: red;
        }
    </style>
</head>
<body>
    <div class="wrapper">
    <h1>Welcome, {{ callsign }}</h1>
    <br>
  
    <h2>Connected Pilots:</h2>
    <br>
    <ul>
        {% for pilot in pilots %}
            <li class="{% if '7700' in pilots[pilot].squawk or '7600' in pilots[pilot].squawk or '7500' in pilots[pilot].squawk %}squawk-alert{% else %}{% if pilots[pilot].frequency == callsign %}pilot-on-frequency{% else %}pilot-on-other-frequency{% endif %}{% endif %}">
                <strong>Callsign:</strong> <span class="{% if '7700' in pilots[pilot].squawk or '7600' in pilots[pilot].squawk or '7500' in pilots[pilot].squawk %}squawk-alert{% else %}{% if pilots[pilot].frequency == callsign %}pilot-on-frequency{% else %}pilot-on-other-frequency{% endif %}{% endif %}">{{ pilot }}</span> | 
                <strong>Frequency:</strong> {{ pilots[pilot].frequency }} | 
                <strong>Squawk:</strong> <span class="{% if '7700' in pilots[pilot].squawk or '7600' in pilots[pilot].squawk or '7500' in pilots[pilot].squawk %}squawk-alert{% endif %}">{{ pilots[pilot].squawk }}</span>
                
            </li>
        <br>
        {% endfor %}
        <br>
    </ul>
    
    <!-- Add this section to display flight plans -->
    <h2>Flight Plans:</h2>
    <br>
    <ul>
        {% for pilot in pilots %}
            <li>
                <strong>Callsign:</strong> {{ pilot }} | 
                <strong>Aircraft Type:</strong> {{ pilots[pilot].aircraft }} | 
                <strong>Flight Rules:</strong> {{ pilots[pilot].flightrules }} | 
                <strong>Departure:</strong> {{ pilots[pilot].departure }} | 
                <strong>Arrival:</strong> {{ pilots[pilot].arrival }} | 
                <strong>IFL:</strong> {{ pilots[pilot].initial }} |
                <strong>FL:</strong> {{ pilots[pilot].cruise }} | 
                <strong>Gate:</strong> {{ pilots[pilot].gate }}
            </li>
            <br>
        {% endfor %}
    </ul>
    <br>
    <button type="button" class="btn">ATIS</button>
    <button type="button" class="btn">Charts</button>
    <a href="https://transponderserver.onrender.com/">
    <button type="button" class="btn1">Exit</button>
    </a>

    <!-- Inside controller_page.html -->
    
    </form>
  
    <script>
        // Reload the page every 10 seconds
        setTimeout(function () {
            location.reload();
        }, 17000);
    </script>
    </div>
</body>
</html>
