<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Flight</title>
    <link rel="icon" href="{{ url_for('static', filename='PF.png') }}">
    <link rel="stylesheet" href="main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form action="">
            <h1>Project Flight
                Public ATC
            </h1>
            <br>
            <h2>Choose Your Role</h2>
            <br>
            <a href="controller/login">
                <button type="button" class="btn">Air Traffic Control</button>
            </a>
            <br>
            <br>
            <a href="pilot/login">
                <button type="button" class="btn">Pilot</button>
            </a>
        </form> 
    </div>
    
</body>
</html>
