<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilot Login</title>
    <link rel="icon" href="{{ url_for('static', filename='PF.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ATC.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper1">
    <form action="/pilot/login" method="post">
        <h1>Pilot Login</h1>
        <div class="input-box">
        <input type="text" placeholder="Callsign" id="callsign" name="callsign" oninput="this.value = this.value.toUpperCase()" required><br>
        <i class='bx bx-hash' ></i>
        </div>
        <div class="input-box">
        <input type="text" placeholder="Aircraft" id="aircraft" name="aircraft" required><br>
        <i class='bx bxs-plane-alt'></i>
        </div>
        <div class="input-box">
        <input type="text" placeholder="IFR/VFR" id="flightrules" name="flightrules" maxlength="3" required style="text-transform:uppercase"><br>
        <i class='bx bx-clipboard' ></i>
        </div>
        <div class="input-box">
        <input type="text" placeholder="Departure" id="departure" name="departure" maxlength="4" required style="text-transform:uppercase"><br>
        <i class='bx bxs-plane-take-off' ></i>
        </div>
        <div class="input-box">
        <input type="text" placeholder="Arrival" id="arrival" name="arrival" maxlength="4" required style="text-transform:uppercase"><br>
        <i class='bx bxs-plane-land' ></i>
        </div>
        <div class="input-box">
        <input type="number" min="000" max="470" placeholder="FL" id="cruise" name="cruise" required><br>
        <i class='bx bx-chevrons-up' ></i>
        </div>
        <button type="submit" class="btn" >Logon</button>
        <br>
        <br>
        <a href="https://transponderserver.onrender.com/">
        <button type="button" class="btn">Back</button>
        </a>
    </form>
</div>
</body>
</html>
