<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilot</title>
    <link rel="stylesheet" href="ATC.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <h1>Pilot Login</h1>
    <form action="/pilot/login" method="post">
        <h1>Pilot</h1>
        <div class="input-box">
        <input type="text" placeholder="Callsign" id="callsign" name="callsign" oninput="this.value = this.value.toUpperCase()" required><br>
        </div>
        <div class="input-box">
        <input type="text" placeholder="Departure" id="departure" name="departure" required><br>
        </div>
        <div class="input-box">
        <input type="text" placeholder="Arrival" id="arrival" name="arrival" required><br>
        </div>
        <div class="input-box">
        <input type="text" placeholder="Aircraft" id="aircraft" name="aircraft" required><br>
        </div>
        <div class="input-box">
        <input type="text" placeholder="FL" id="cruise" name="cruise" required><br>
        </div>
        <h2>Optional</h2>
        <div class="input-box">
        <input type="text" placeholder="Route" id="route" name="route"><br>
        </div>

      

        <label for="departure">Departure:</label>
        <input type="text" id="departure" name="departure" required><br>

        <label for="arrival">Arrival:</label>
        <input type="text" id="arrival" name="arrival" required><br>

        <label for="aircraft">Aircraft:</label>
        <input type="text" id="aircraft" name="aircraft" required><br>

        <label for="cruise">Cruise:</label>
        <input type="text" id="cruise" name="cruise" required><br>

        <h3>Optional</h3>
      
        <label for="route">Route:</label>
        <input type="text" id="route" name="route"><br>
      

        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
